@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #504b38;
}
a {
  color: #fff;
  text-decoration: none;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 35px;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
  color: #b9b28a;
}
.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0;
  color: #fff;
}
.home-info h1 {
  font-size: 55px;
}
.home-info h2 {
  font-family: 32px;
  margin-top: -10px;
}
.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}
.home-info .btn-social {
  display: flex;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: #b9b28a;
  border: 2px solid #b9b28a;
  border-radius: 40px;
  box-shadow: 0 0 10px #b9b28a;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover,
button:hover,
button a:hover {
  background: transparent;
  color: #b9b28a;
  box-shadow: none;
}
.home-info .btn-social .social {
  margin-left: 20px;
}
.home-info .btn-social .social a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #b9b28a;
  border-radius: 50%;
  font-size: 20px;
  color: #b9b28a;
  margin: 0 8px;
  transition: 0.5s;
}
.home-info .btn-social .social a:hover {
  background: #b9b28a;
  color: #1f242d;
  box-shadow: 0 0 10px #b9b28a;
}
.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent, transparent, transparent, #b9b28a);
}
.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #504b38;
  border-radius: 50%;
  border: 0.1px solid #504b38;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.home-img .img-box .img-item img {
  position: absolute;
  top: 30px;
  display: block;
  width: 85%;
  object-fit: cover;
  /*mix-blend-mode: lighten;*/
}
/*End home page*/
/*About page start*/
.about {
  width: 100%;
  padding-left: 100px 0;
  background-color: #504b38;
  margin-top: 100px;
}
.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #b9b28a;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  padding: 10px 30px;
  background: #b9b28a;
  border: 2px solid #b9b28a;
  border-radius: 40px;
  box-shadow: 0 0 10px #b9b28a;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}
button a {
  color: #1f242d;
}
/*End about page*/
/*start skills page*/
.container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #504b38;
  color: #fff;
}
.sub-title {
  font-size: 30px;
  padding-bottom: 5px;
  margin-top: 80px;
}
.container .progress-container {
  margin-bottom: 25px;
}

.container .progress-container h4 {
  margin: 0 0 15px 15px;
  letter-spacing: 0.5px;
}

.container .progress-container .progress-bar {
  position: relative;
  width: 500px;
  height: 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 3px 4px 5px 0px rgba(248 243 217 / 0.75);
}

.container .progress-container .progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #504b38;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(185, 178, 138, 1) 50%,
    rgba(187, 178, 138, 1) 100%
  );
  transition: width 0.5s linear;
}
i {
  font-size: 30px;
}
/*End skills page*/
/*Start project page*/
.wrapper {
  margin-top: 30px;
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-left: 80px;
}
.card {
  width: 300px;
  height: 480px;
  padding: 2rem 1rem;
  background: #504b38;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 7px 10px #f8f3d9;
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(20px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to bottom, #c79081 0%, #dfa579 100%);
  z-index: 0;
  transition: 0.5s all;
  opacity: 1;*/
}
.card:hover:before {
  opacity: 0.7;
  z-index: 2;
  background: #504b38;
  transition: 0.5s all;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card .info h1 {
  margin: 0;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card .info .link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #f8f3d9;
  color: #504b38;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card .info .link:hover {
  box-shadow: 0 7px 10px #504b38;
}
.heading {
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
/*end projects page*/
/*start contact page*/
.form {
  width: 50%;
  margin-top: 90px;
  margin-left: 400px;
  text-align: center;
}
.form h2 {
  color: #fff;
  margin-bottom: 10px;
}
form {
  background-color: #ebe5c2;
  /*padding: 5px;*/
  border-radius: 12px;
  text-align: center;
}

input[type="text"],
input[type="tel"],
textarea,
input[type="submit"] {
  width: 70%;
  padding: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #b9b28a;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #504b38;
}

input::placeholder,
textarea::placeholder {
  color: #b9b28a;
}

input[type="submit"] {
  background-color: #504b38;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
/*End Contact page*/
/*start weather page*/
.weather {
  margin-top: 200px;
}
.weather h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
}

#location {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #d8c3a5;
}

#forecast {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.day {
  background: #d8c3a5;
  border-radius: 16px;
  padding: 1rem;
  width: 140px;
  box-shadow: 0 4px 10px rgba(75, 46, 46, 0.15);
  text-align: center;
  transition: transform 0.2s ease;
}

.day:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.temp {
  font-size: 0.95rem;
  margin: 0.2rem 0;
}

.date {
  font-weight: bold;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}
